header
  position: absolute
  top 0
  left 50%
  transform: translate(-50%, 0)
  z-index: 100
  padding: 20px
  background-color: #f0edf2
  border: 3px solid #2e4459
  border-radius: 5px
  margin-top: -5px
  text-align: center
  p
    text-align: left

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


#loading-error-message
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  animation: fadeIn ease 60s;

.hidden
  display none

.desktop-controls
  z-index: 99
  position: absolute
  top: 0
  left: 0
  user-select: none
  & > .control
    display: block
    margin: 3px
    background: radial-gradient(rgba(100 100 100 1.0), rgba(0 0 0 0))
    border-radius 100%
    border: 1px solid white

.keyboard-form
  z-index: -9
  position: absolute;
  bottom: 0
  left: 50%
  transform: translate(-50%, 0);
  &:focus
    z-index: 999

.debug
  position: absolute
  left: 0
  top: 0
  z-index: 999

.spectator-canvas
  position: absolute
  right: 0
  bottom: 0
  z-index: 99
  width: 30%
  height: 20%
  border: 1px solid black
